version: '3.0'
volumes:
  calibre_web-config:

services:
  calibre-web:
    image: lscr.io/linuxserver/calibre-web:latest
    container_name: calibre_web
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - DOCKER_MODS=linuxserver/mods:universal-calibre #optional
      - OAUTHLIB_RELAX_TOKEN_SCOPE=1 #optional
    volumes:
      - calibre_web-config:/config
      - ~/calibre/calibre_library:/books
    ports:
      - 8083:8083
    restart: unless-stopped